html {
  min-width: 1040px;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  tab-size: 2;
  width: 960px;
}

h1 {
  font-size: 64px;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  font-family: Roboto;
  text-rendering: optimizeLegibility;
}

.hidden {
  display:none;
}

.CodeMirror {
  height: auto;
  min-height: 500px;
  font-size: 18px;
}

#auth {
  float: right;
  margin: 0 5px;
  line-height: 25px;
}
#user {
  float: right;
  margin: 0 5px;
}
#user img {
  width: 26px;
  height: 26px;
  vertical-align: middle;
}

#block__code-title {
  padding: 5px;
  padding-bottom: 10px;
  font-size: 20px
}

#block__iframe {
  width: 960px;
  height: 500px;
  border: 1px solid #DEDEDE;
  overflow: hidden;
  border-radius: 3px;
}

#block__description-iframe {
  height: auto;
  border: none;
}

#block__fork {
  float:right;
  padding: 5px 10px;
  margin: 10px 0;
  cursor: pointer;
  background-color: steelblue;
  color: white;
  border-radius: 3px
}


#block__nav a {
  padding: 5px;
  font-size: 18px;
}

.file {
  padding: 5px;
  font-size: 20px;
}
