@import "react-tooltip-style";

$blue: #66B5AF; /* #3182bd; */
$gray: #F7E2AD; /* #efefef; */
$offWhite: #efefef;
$blockWidth: 960px;
$blockHeight: 500px;
$filesHeight: 30px;
$sideOffset: 40px; // distance from the left side

html {
  min-width: 1040px;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  tab-size: 2;
  width: 960px;
}

h1 {
  font-size: 64px;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  font-family: Roboto;
  text-rendering: optimizeLegibility;
}

.hidden {
  display:none;
}

svg.icon {
  margin: 0 5px;
}

a {
  text-decoration: none;
  color: $blue;
  font-size: 18px;
  border-bottom: 1px solid white;
}
a:hover {
  border-bottom: 1px solid $blue;
}

/********************
  LAYOUT
*********************/

#about {
  #block__header {
    border: none;
    height: 0;
  }
  h1 {
    margin: 0
  }
}

#gallery {
  #block__header {
    border: none;
    height: 0;
  }
  h1 {
    margin: 0
  }
  width: 1000px;
  .frame-holder { 
    margin: 25px 10px;
    margin-bottom: 20px;
    width: 480px;
    height: 250px;
    float: left;
    a {
      margin-left: 10px;
      margin-right: 30px;
    }
    p {
      margin-top: -250px;
      float: left;
      clear:left;
    }
  }
  iframe {
    border: none;
    outline: none;
    margin: 0;
    width: 960px;
    height: 500px;
    -webkit-transform: scale(0.5) translate(-480px, -250px);
    transform: scale(0.5) translate(-480px, -250px);
    float:left;
  }
}

#site-wrapper {
  position: absolute;
}

$headerHeight: 60px;

#block__header {
  position: fixed;
  height: $headerHeight;
  top: 0;
  width: 962px;
  margin: 0px auto;
  background-color: white;
  //border-bottom: 1px solid $gray;
  z-index: 101;
}

#block__title {
  float: left; 
  height: 80px;
  line-height: $headerHeight;
  padding: 0 5px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

a.header-link {
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
a.header-link:hover {
  color: $blue;
  path {
    fill: $blue;
  }
}

#block__nav {
  float: left;  
  height: $headerHeight;
  line-height: $headerHeight;
}

#block__nav-gist-title {
  font-size: 28px;
  font-weight: bold;
  padding-right: 5px;
  margin-right: 20px;
}

#block__content {
  position:absolute;
  top: $headerHeight;
}

.CodeMirror {
  height: auto;
  font-size: 18px;
}

#auth {
  float: right;
  margin: 0 5px;
  line-height: $headerHeight;
  a {
    text-decoration: none;
  }
}
#user {
  float: right;
  margin: 0 5px;
}
#user img {
  width: 26px;
  height: 26px;
  vertical-align: middle;
}


#block__iframe {
  position: fixed;
  top: $headerHeight;
  width: $blockWidth;
  height: 100%;
  //border: 1px solid $gray;
  border: none;
  box-shadow: 0px 0px 5px #afafaf;
  overflow: hidden;
  border-radius: 3px;
  background: white;
}

#block__code-index {
  width: 962px;
}

#block__code-files {
  background: #fafafa;
  //border: 1px solid $gray;
  //border-bottom: 1px solid $blue;
  padding-right: 1px;
  width: $blockWidth;
  height: $filesHeight;
  z-index: 200;
}
.absolute-files {
  position: absolute;
  top: $blockHeight; 
}
.fixed-files {
  position: fixed;
  top: $headerHeight;
}

.file {
  float:left;
  display:inline-block;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  max-width: 250px;
  overflow:hidden;
  position: relative;
  /*
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  */
  height: $filesHeight;
  border-bottom: none;
  cursor: pointer;
  //background-color: white;
  background-color: #fafafa;
  &:hover {
    background-color: $gray;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.file.active {
  background-color: $blue;
  a.filename {
    color: white;
  }
}
.file.has-delete {
  padding-right: 30px;
}
.file-delete {
  position: absolute;
  top:0;
  right:0;
  padding: 0px 8px 6px 8px;
  color: #be6464;
  margin-left: 4px;
  border: none;
  float:right;
  text-decoration: none;
  &:hover {
    background-color: #fafafa;
    border-bottom: 1px solid #fafafa;
  }
}

#files__more {
  display: none;
  float:left;
  max-width: 250px;
  z-index: 200;
  //background-color: white;
  background-color: #fafafa;
  .file {
    width: 100%;
  }
  .file-delete {
  }
}
#files__more.show {
  display: inline-block;
  margin-right: -20px;
}
#files__show {
}
.hidden {
  display: none;
}

#files__add-wrapper {
  display: inline-block;
  float:right;
}
#files__add-ui {
  display: none;
  float:left;
}
#files__add-ui.show {
  display: inline-block;
}
#files__add {
  float:right;
  display:inline-block;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
}

#files__add-new {
  &:hover {
    background-color: #fafafa;
  }
}
#files__add-new-name {
  margin: 5px;
}



#block__code-wrapper {
  position: absolute;
  top: $blockHeight;
  width: $blockWidth;
  margin-top: $filesHeight;
}

#editor__txt {
  width: 100%;
  min-height: 500px;
  padding: 5px;
  background-color: white;
  resize: vertical;
}

#block__code-thumbnail-edit {
  position: absolute;
  top: 0;
  right: 0px;
  #nav__loading {
    clear:right;
  }
}


#editor__png {
  margin-top: 10px;
  float: left;
  clear: left;
}
#editor__png-preview {
  float:left;
  canvas {
    float:left;
  }
  p {
    float:left;
    width: calc(100% - 500px);
    margin: 10px;
  }
}

#editor__png-input {
  float: right;
  border: 1px solid $blue;
  background-color: $blue;
  padding: 5px;
}
#thumbnail__save {
  clear: right;
  width: 120px !important;
}


#block__popper {
  position: fixed;
  top: $headerHeight + 40px;
  left: 0;
  right: 0;
  height: $blockHeight - 20px;
  background: $offWhite;
}

#block__popper:hover {
  background: #eae9e5;
}

.popped {
  #block__popper {
    background: $gray;
    transition-property: background;
    transition-duration: 0.5s;
  }
  #block__popper:hover {
    background: $gray;
  }
  #block__iframe {
    z-index: 150;
    box-shadow: 0px 3px 10px $blue;
  }
}

#block__mode {
  position: fixed;
  //top: $headerHeight/3;
  //right: 20px;
  top: $headerHeight + 60px;
  left: 10px;
  cursor: pointer;
  font-size: 23px;
}
#block__fullscreen {
  position: fixed;
  //top: $headerHeight/3;
  //right: 20px;
  top: $headerHeight + 85px;
  left: 10px;
  cursor: pointer;
  font-size: 23px;
}
.description {
  font-family: Roboto;
  width: 300px;
  font-size: 24px;
}

$frameHeight: $filesHeight + $headerHeight;
/* standard blocks layout */
//.☯ {
.blocks {
   .renderer {
    top: $frameHeight;
    height: $blockHeight;
    #block__iframe {
      top: $frameHeight;
      height: $blockHeight;
      overflow: hidden;
    }
  }
  #block__code-wrapper .CodeMirror-scroll {
    min-height: 600px;
  }
}


/* sidebyside */
//.☮ {
#block__header.sidebyside, #block__header.fullscreen {
  left: $sideOffset;
}
.sidebyside, .fullscreen {
  #home__overlay {
    position: fixed;
    left: 0px;
    top: $frameHeight;
  }
  
  .renderer {
    position: fixed;
    top: $frameHeight;
    left: $sideOffset;
    bottom: 0px;
    #block__iframe {
      top: $frameHeight;
      height: calc(100% - 90px);
      overflow: scroll;
    }
    #block__popper {
      //display: none;
    }
  }

  #block__code-files {
    position: fixed;
    top: $headerHeight;
    left: $sideOffset;
    right: 0;
    width: auto;
  }
  #block__code-wrapper {
    position: fixed;
    top: $frameHeight;
    right: 0;
    width: calc(100% - 960px);
    bottom: 0;
    margin: 0;
    overflow: scroll;
    #block__code-index {
      width: 100%;
      height: 100%;
      .CodeMirror {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.fullscreen {
  .renderer{
    #block__iframe {
      width: calc(100% - 50px);
      height: calc(100% - 95px);
    }
  }
  #block__code-wrapper {
    display: none;
  }
}

#block__lock {
  float:right;
  border-radius: 3px;
  width: 22px;
  height: 22px;
  padding: 5px 0px;
  padding-left: 5px;
  margin: 16px 5px;
  border: 1px solid white;
  path {
    fill: black;
  }
}
#block__lock.clickable {
  cursor: pointer;
  &:hover {
    color: $blue;
    border: 1px solid $gray;
    path {
      fill: $blue;
    }
  }
}

#block__fork, #block__save, #block__new, #thumbnail__save {
  float:right;
  padding: 5px 10px;
  margin: 16px 5px;
  cursor: pointer;
  background-color: $blue;
  color: white;
  border-radius: 3px;
  width: 35px;
  height: 22px;
  border: 1px solid white;
  &:hover {
    color: $blue;
    background-color: white;
    border: 1px solid $blue;
  }
}
#block__new {
  background: white;
  color: $blue;
  border: 1px solid white;
  text-decoration: underline;
}

#block__site-nav {
  position: fixed;
  float: left;
  top: 10px;
  left: 3px;

  .nav-link {
    margin-top: 6px;
    margin-left: 8px;
  }
  .nav-link a {
    font-size: 11px;
    color: black;
  }
  z-index: 300;
}

#block__loading {
  width: 960px;
  .sk-cube-grid {
    margin: 10px auto;
  }

}

#nav__loading {
  float:right;
  padding: 5px 10px;
  margin: 16px 5px;
  border-radius: 3px;
  width: 35px;
  height: 22px;
  color: $blue;
  background-color: white;
  border: 1px solid $blue;
  .sk-cube-grid {
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }
}

.ReactModal__Overlay {
  z-index: 400
}
.ReactModal__Content {
  z-index: 500;
  height: 50px;
  background-color: #FE6675 !important;

  .error {
    color: $offWhite;

  }
}


/* -------------------
Tutorial overlay styles
----------------------*/

#tutorial__overlay {
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;
  z-index: 1000;
  background-color: #fefefe;
  overflow-y: scroll;

  #tutorial__content {
    width: 715px;
    margin: 0px auto;

    .domain {
      color: #ac3f1a
    }

    h2, h3 {
      margin: 0
    }
    .tut {
      margin: 10px 0;
    }
  }

  h1 {
    margin: 0;
  }
  .subhead {
    color: gray;
    text-transform: uppercase;

  }
  p {
  }
  #fixedstarted {
    position: fixed;
    //width: 960px;
    width: 100%;
  }
  #getstarted {
    //specifically the one at the top
    position: absolute;
    top: 20px;
    //left: 40px;
  }
  .getstarted {
    padding: 5px 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 2px;
    width: 150px;
    text-align: center;
    cursor: pointer;
  }

}

@media (max-width: 1200px) {
  #getstarted {
    right: 40px;
  }
}
@media (min-width: 1200px) {
  #getstarted {
    left: 40px;
  }
}



/* -------------------
Inlet styles
----------------------*/

.ColorPicker { 
  -moz-box-sizing: content-box; 
  -webkit-box-sizing: content-box; 
  box-sizing: content-box; 
}

// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
.inlet_slider input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  margin-top: -16px;
}


/* -------------------
borrowed styles
----------------------*/
/* 
  css loader from http://tobiasahlin.com/spinkit/ 
*/
.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: $blue;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

$min: 0.2;
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D($min, $min, 1);
            transform: scale3D($min, $min, 1); 
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D($min, $min, 1);
            transform: scale3D($min, $min, 1);
  } 
}