<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,height=device-height">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <title>Building Bl.ocks</title>
    <meta name="description" content="{{= description }}">
    <link rel="icon" type="image/png" href="/public/build/img/favicon-32x32.ico" />

    <!-- CSS -->
    <link rel='stylesheet' href='/public/build/css/main.css' />

</head>
<body> 
    HOMEPAGE - WIP
</body>
</html>
